<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>シューティングゲーム</title>
  <style>
    #game-field {
      width: 640px;
      height: 400px;
      background-color: black;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      cursor: none;
    }

    .grid-cell {
      width: 4px;
      height: 4px;
      position: absolute;
    }
  </style>
</head>

<body>
  <div id="app">

    <div id="game-field" @mousemove="movePlayer" @mousedown="createPlayerShot">
      <div v-for="sprite in spriteList">
        <div v-for="cell in spriteMap.get(sprite.sprite)" :key="cell.x + '-' + cell.y" class="grid-cell" :style="{
              left: (cell.x * 4) + sprite.x + 'px', 
              top: (cell.y * 4) + sprite.y + 'px', 
              backgroundColor: getColor(cell.colorCode)
          }"></div>
      </div>
    </div>

    <div id="hud">
      <p>残機: {{ playerLeft }}</p>
      <p v-if="isGameOver">ゲームオーバー</p>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        player: [
          { x: 7, y: 0, colorCode: 7 }, { x: 8, y: 0, colorCode: 7 },
          { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 },
          { x: 6, y: 2, colorCode: 5 }, { x: 7, y: 2, colorCode: 2 }, { x: 8, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 5 },
          { x: 0, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 7 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 7 }, { x: 15, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 6 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 7 }, { x: 6, y: 4, colorCode: 7 }, { x: 7, y: 4, colorCode: 2 }, { x: 8, y: 4, colorCode: 2 }, { x: 9, y: 4, colorCode: 7 }, { x: 10, y: 4, colorCode: 7 }, { x: 12, y: 4, colorCode: 4 }, { x: 13, y: 4, colorCode: 4 }, { x: 15, y: 4, colorCode: 6 },
          { x: 0, y: 5, colorCode: 6 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 7 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 7 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 5 }, { x: 13, y: 5, colorCode: 5 }, { x: 15, y: 5, colorCode: 6 },
          { x: 0, y: 6, colorCode: 6 }, { x: 1, y: 6, colorCode: 6 }, { x: 2, y: 6, colorCode: 5 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 0 }, { x: 5, y: 6, colorCode: 0 }, { x: 6, y: 6, colorCode: 7 }, { x: 7, y: 6, colorCode: 7 }, { x: 8, y: 6, colorCode: 7 }, { x: 9, y: 6, colorCode: 7 }, { x: 10, y: 6, colorCode: 0 }, { x: 11, y: 6, colorCode: 0 }, { x: 12, y: 6, colorCode: 5 }, { x: 13, y: 6, colorCode: 5 }, { x: 14, y: 6, colorCode: 6 }, { x: 15, y: 6, colorCode: 6 },
          { x: 0, y: 7, colorCode: 6 }, { x: 2, y: 7, colorCode: 6 }, { x: 3, y: 7, colorCode: 6 }, { x: 5, y: 7, colorCode: 7 }, { x: 6, y: 7, colorCode: 7 }, { x: 9, y: 7, colorCode: 7 }, { x: 10, y: 7, colorCode: 7 }, { x: 12, y: 7, colorCode: 6 }, { x: 13, y: 7, colorCode: 6 }, { x: 15, y: 7, colorCode: 6 }
        ],
        enemy01LeftACells: [
          { x: 1, y: 1, colorCode: 2 }, { x: 2, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 2 }, { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 6, y: 1, colorCode: 2 }, { x: 7, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 0 }, { x: 2, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 0 }, { x: 5, y: 2, colorCode: 0 }, { x: 6, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 },
          { x: 0, y: 3, colorCode: 2 }, { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 7 }, { x: 3, y: 3, colorCode: 7 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 2 }, { x: 1, y: 4, colorCode: 2 }, { x: 2, y: 4, colorCode: 7 }, { x: 3, y: 4, colorCode: 7 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 },
          { x: 0, y: 5, colorCode: 2 }, { x: 1, y: 5, colorCode: 0 }, { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 },
          { x: 1, y: 6, colorCode: 2 }, { x: 2, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 2 }, { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 6, y: 6, colorCode: 2 }, { x: 7, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 },
        ],
        enemy01LeftBCells: [
          { x: 1, y: 1, colorCode: 2 }, { x: 2, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 2 }, { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 6, y: 1, colorCode: 2 }, { x: 7, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 0 }, { x: 2, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 0 }, { x: 5, y: 2, colorCode: 0 }, { x: 6, y: 2, colorCode: 2 }, { x: 11, y: 2, colorCode: 2 }, { x: 12, y: 2, colorCode: 2 },
          { x: 0, y: 3, colorCode: 2 }, { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 7 }, { x: 3, y: 3, colorCode: 7 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 2 }, { x: 1, y: 4, colorCode: 2 }, { x: 2, y: 4, colorCode: 7 }, { x: 3, y: 4, colorCode: 7 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 }, { x: 10, y: 4, colorCode: 2 },
          { x: 0, y: 5, colorCode: 2 }, { x: 1, y: 5, colorCode: 0 }, { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 2 }, { x: 11, y: 5, colorCode: 2 }, { x: 12, y: 5, colorCode: 2 },
          { x: 1, y: 6, colorCode: 2 }, { x: 2, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 2 }, { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 6, y: 6, colorCode: 2 }, { x: 7, y: 6, colorCode: 2 },
        ],
        enemy01RightACells: [
          { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 8, y: 1, colorCode: 2 }, { x: 9, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 }, { x: 12, y: 1, colorCode: 2 }, { x: 13, y: 1, colorCode: 2 }, { x: 14, y: 1, colorCode: 2 },
          { x: 6, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 }, { x: 10, y: 2, colorCode: 0 }, { x: 11, y: 2, colorCode: 0 }, { x: 12, y: 2, colorCode: 2 }, { x: 13, y: 2, colorCode: 2 }, { x: 14, y: 2, colorCode: 0 }, { x: 15, y: 2, colorCode: 2 },
          { x: 10, y: 3, colorCode: 2 }, { x: 11, y: 3, colorCode: 2 }, { x: 12, y: 3, colorCode: 7 }, { x: 13, y: 3, colorCode: 7 }, { x: 14, y: 3, colorCode: 2 }, { x: 15, y: 3, colorCode: 2 },
          { x: 10, y: 4, colorCode: 2 }, { x: 11, y: 4, colorCode: 2 }, { x: 12, y: 4, colorCode: 7 }, { x: 13, y: 4, colorCode: 7 }, { x: 14, y: 4, colorCode: 2 }, { x: 15, y: 4, colorCode: 2 },
          { x: 6, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 2 }, { x: 13, y: 5, colorCode: 2 }, { x: 14, y: 5, colorCode: 0 }, { x: 15, y: 5, colorCode: 2 },
          { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 8, y: 6, colorCode: 2 }, { x: 9, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 }, { x: 12, y: 6, colorCode: 2 }, { x: 13, y: 6, colorCode: 2 }, { x: 14, y: 6, colorCode: 2 },
        ],
        enemy01RightBCells: [
          { x: 8, y: 1, colorCode: 2 }, { x: 9, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 }, { x: 12, y: 1, colorCode: 2 }, { x: 13, y: 1, colorCode: 2 }, { x: 14, y: 1, colorCode: 2 },
          { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 }, { x: 10, y: 2, colorCode: 0 }, { x: 11, y: 2, colorCode: 0 }, { x: 12, y: 2, colorCode: 2 }, { x: 13, y: 2, colorCode: 2 }, { x: 14, y: 2, colorCode: 0 }, { x: 15, y: 2, colorCode: 2 },
          { x: 5, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 }, { x: 11, y: 3, colorCode: 2 }, { x: 12, y: 3, colorCode: 7 }, { x: 13, y: 3, colorCode: 7 }, { x: 14, y: 3, colorCode: 2 }, { x: 15, y: 3, colorCode: 2 },
          { x: 5, y: 4, colorCode: 2 }, { x: 10, y: 4, colorCode: 2 }, { x: 11, y: 4, colorCode: 2 }, { x: 12, y: 4, colorCode: 7 }, { x: 13, y: 4, colorCode: 7 }, { x: 14, y: 4, colorCode: 2 }, { x: 15, y: 4, colorCode: 2 },
          { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 2 }, { x: 13, y: 5, colorCode: 2 }, { x: 14, y: 5, colorCode: 0 }, { x: 15, y: 5, colorCode: 2 },
          { x: 8, y: 6, colorCode: 2 }, { x: 9, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 }, { x: 12, y: 6, colorCode: 2 }, { x: 13, y: 6, colorCode: 2 }, { x: 14, y: 6, colorCode: 2 },
        ],
        enemy02ACells: [
          { x: 1, y: 1, colorCode: 3 }, { x: 2, y: 1, colorCode: 7 }, { x: 3, y: 1, colorCode: 7 }, { x: 4, y: 1, colorCode: 7 }, { x: 5, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 }, { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 }, { x: 9, y: 1, colorCode: 7 }, { x: 10, y: 1, colorCode: 7 }, { x: 11, y: 1, colorCode: 3 },
          { x: 3, y: 2, colorCode: 7 }, { x: 6, y: 2, colorCode: 7 }, { x: 9, y: 2, colorCode: 7 },
          { x: 1, y: 3, colorCode: 4 }, { x: 2, y: 3, colorCode: 0 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 0 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 0 }, { x: 11, y: 3, colorCode: 4 },
          { x: 0, y: 4, colorCode: 4 }, { x: 1, y: 4, colorCode: 4 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 4, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 }, { x: 6, y: 4, colorCode: 4 }, { x: 7, y: 4, colorCode: 4 }, { x: 8, y: 4, colorCode: 4 }, { x: 9, y: 4, colorCode: 4 }, { x: 10, y: 4, colorCode: 4 }, { x: 11, y: 4, colorCode: 4 }, { x: 12, y: 4, colorCode: 4 },
          { x: 0, y: 5, colorCode: 4 }, { x: 1, y: 5, colorCode: 4 }, { x: 2, y: 5, colorCode: 4 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 }, { x: 6, y: 5, colorCode: 4 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 4 }, { x: 10, y: 5, colorCode: 4 }, { x: 11, y: 5, colorCode: 4 }, { x: 12, y: 5, colorCode: 4 },
          { x: 1, y: 6, colorCode: 6 }, { x: 2, y: 6, colorCode: 6 }, { x: 4, y: 6, colorCode: 6 }, { x: 5, y: 6, colorCode: 6 }, { x: 7, y: 6, colorCode: 6 }, { x: 8, y: 6, colorCode: 6 }, { x: 10, y: 6, colorCode: 6 }, { x: 11, y: 6, colorCode: 6 },
        ],
        enemy02BCells: [
          { x: 3, y: 1, colorCode: 3 }, { x: 4, y: 1, colorCode: 7 }, { x: 5, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 }, { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 }, { x: 9, y: 1, colorCode: 3 },
          { x: 5, y: 2, colorCode: 7 }, { x: 7, y: 2, colorCode: 7 },
          { x: 1, y: 3, colorCode: 4 }, { x: 2, y: 3, colorCode: 0 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 0 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 0 }, { x: 11, y: 3, colorCode: 4 },
          { x: 0, y: 4, colorCode: 4 }, { x: 1, y: 4, colorCode: 4 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 4, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 }, { x: 6, y: 4, colorCode: 4 }, { x: 7, y: 4, colorCode: 4 }, { x: 8, y: 4, colorCode: 4 }, { x: 9, y: 4, colorCode: 4 }, { x: 10, y: 4, colorCode: 4 }, { x: 11, y: 4, colorCode: 4 }, { x: 12, y: 4, colorCode: 4 },
          { x: 0, y: 5, colorCode: 4 }, { x: 1, y: 5, colorCode: 4 }, { x: 2, y: 5, colorCode: 4 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 }, { x: 6, y: 5, colorCode: 4 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 4 }, { x: 10, y: 5, colorCode: 4 }, { x: 11, y: 5, colorCode: 4 }, { x: 12, y: 5, colorCode: 4 },
          { x: 2, y: 6, colorCode: 6 }, { x: 3, y: 6, colorCode: 6 }, { x: 4, y: 6, colorCode: 6 }, { x: 8, y: 6, colorCode: 6 }, { x: 9, y: 6, colorCode: 6 }, { x: 10, y: 6, colorCode: 6 },
        ],
        enemyShot: [
          { x: 3, y: 1, colorCode: 2 },
          { x: 4, y: 2, colorCode: 2 },
          { x: 3, y: 3, colorCode: 2 },
          { x: 4, y: 4, colorCode: 2 },
          { x: 3, y: 5, colorCode: 2 },
          { x: 4, y: 6, colorCode: 2 },
        ],
        playerShot01: [
          { x: 3, y: 1, colorCode: 1 }, { x: 4, y: 1, colorCode: 1 },
          { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 },
          { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 },
          { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 },
          { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 },
          { x: 3, y: 6, colorCode: 1 }, { x: 4, y: 6, colorCode: 1 },
        ],
        playerShot02: [
          { x: 3, y: 1, colorCode: 1 }, { x: 4, y: 1, colorCode: 1 },
          { x: 2, y: 2, colorCode: 1 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 1 },
          { x: 2, y: 3, colorCode: 1 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 1 },
          { x: 2, y: 4, colorCode: 1 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 1 },
          { x: 2, y: 5, colorCode: 1 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 1 },
          { x: 3, y: 6, colorCode: 1 }, { x: 4, y: 6, colorCode: 1 },
        ],
        playerShot03: [
          { x: 2, y: 1, colorCode: 1 }, { x: 3, y: 1, colorCode: 5 }, { x: 4, y: 1, colorCode: 5 }, { x: 5, y: 1, colorCode: 1 },
          { x: 1, y: 2, colorCode: 1 }, { x: 2, y: 2, colorCode: 5 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 5 }, { x: 6, y: 2, colorCode: 1 },
          { x: 1, y: 3, colorCode: 1 }, { x: 2, y: 3, colorCode: 5 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 5 }, { x: 6, y: 3, colorCode: 1 },
          { x: 1, y: 4, colorCode: 1 }, { x: 2, y: 4, colorCode: 5 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 5 }, { x: 6, y: 4, colorCode: 1 },
          { x: 1, y: 5, colorCode: 1 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 5 }, { x: 6, y: 5, colorCode: 1 },
          { x: 2, y: 6, colorCode: 1 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 5 }, { x: 5, y: 6, colorCode: 1 },
        ],
        playerShot04: [
          { x: 2, y: 0, colorCode: 1 }, { x: 3, y: 0, colorCode: 5 }, { x: 4, y: 0, colorCode: 5 }, { x: 5, y: 0, colorCode: 1 },
          { x: 2, y: 1, colorCode: 1 }, { x: 3, y: 1, colorCode: 5 }, { x: 4, y: 1, colorCode: 5 }, { x: 5, y: 1, colorCode: 1 },
          { x: 1, y: 2, colorCode: 1 }, { x: 2, y: 2, colorCode: 5 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 5 }, { x: 6, y: 2, colorCode: 1 },
          { x: 1, y: 3, colorCode: 1 }, { x: 2, y: 3, colorCode: 5 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 5 }, { x: 6, y: 3, colorCode: 1 },
          { x: 1, y: 4, colorCode: 1 }, { x: 2, y: 4, colorCode: 5 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 5 }, { x: 6, y: 4, colorCode: 1 },
          { x: 1, y: 5, colorCode: 1 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 5 }, { x: 6, y: 5, colorCode: 1 },
          { x: 2, y: 6, colorCode: 1 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 5 }, { x: 5, y: 6, colorCode: 1 },
          { x: 2, y: 7, colorCode: 1 }, { x: 3, y: 7, colorCode: 5 }, { x: 4, y: 7, colorCode: 5 }, { x: 5, y: 7, colorCode: 1 },
        ],

        spriteMap: new Map(),
        spriteList: [],
        playerPosition: {
          x: 0,
          y: 360
        },
        maxEnemy01: 6,
        maxEnemy02: 5,
        shotSpeed: 3,
        shotFrequency: 0.01,

        enemyList: [],
        enemyShotList: [],
        playerShotList: [],

        isGameOver: false,
        playerLeft: 3,

        stage: 1,
        timer: 0,
      },

      computed: {
        playerHit() {
          if (this.isGameOver) return false;

          return this.enemyShotList.some(shot => {
            return this.player.some(cell => {
              const cellX = cell.x * 4 + this.playerPosition.x;
              const cellY = cell.y * 4 + this.playerPosition.y;
              return Math.abs(cellX - shot.position.x) < 4 && Math.abs(cellY - shot.position.y) < 4;
            });
          });
        },
        collisions() {
          const collisions = [];

          this.playerShotList.forEach((shot) => {
            this.enemyList.forEach((enemy, enemyIndex) => {
              const isHit = this.enemy02ACells.some(cell => {
                const enemyX = cell.x * 4 + enemy.position.x;
                const enemyY = cell.y * 4 + enemy.position.y;
                return Math.abs(shot.position.x - enemyX) < 4 && Math.abs(shot.position.y - enemyY) < 4;
              });

              if (isHit) {
                collisions.push({ shot, enemyIndex });
              }
            });
          });

          return collisions;
        }
      },
      watch: {
        playerHit(hit) {
          if (hit) {
            this.reducePlayerLives();
          }
        },
        collisions(collisions) {
          if (collisions.length > 0) {
            collisions.forEach(({ shot, enemyIndex }) => {
              const shotIndex = this.playerShotList.indexOf(shot);
              if (shotIndex > -1) {
                this.playerShotList.splice(shotIndex, 1);
              }

              if (enemyIndex > -1) {
                this.enemyList.splice(enemyIndex, 1);
              }
            });
          }
        }
      },
      methods: {
        getColor(colorCode) {
          switch (colorCode) {
            case 0: return "black";
            case 1: return "blue";
            case 2: return "red";
            case 3: return "purple";
            case 4: return "lime";
            case 5: return "aqua";
            case 6: return "yellow";
            case 7: return "white";
            default: return "black";
          }
        },
        movePlayer(event) {
          const fieldRect = event.currentTarget.getBoundingClientRect();
          this.playerPosition.x = event.clientX - fieldRect.left - 64;
        },
        createPlayerShot() {
          const shotPosition = {
            x: this.playerPosition.x + 12,
            y: this.playerPosition.y - 8
          };

          this.playerShotList.push({
            position: shotPosition,
            animePtn: 0,
            animeCnt: 0,
            speed: 6
          });
        },
        movePlayerShots() {
          this.playerShotList.forEach((shot, index) => {
            shot.position.y -= shot.speed;
            if (shot.position.y < 0) {
              this.playerShotList.splice(index, 1);
            }
            else {
              if (shot.animePtn !== 3) {
                shot.animeCnt++;
                shot.animeCnt &= 7;
                if (shot.animeCnt === 0) {
                  shot.animePtn++;
                }
              }
              
              let spritePtnList = ['playerShot04', 'playerShot03', 'playerShot02','playerShot01' ];
              this.spriteList.push(
                {
                  x: shot.position.x,
                  y: shot.position.y,
                  sprite: spritePtnList[shot.animePtn]
                }
              );
            }
          });
        },
        moveEnemy() {
          this.enemyList.forEach((enemy, index) => {
            switch (this.stage) {
              case 1:
                if (enemy.type === 1) {
                  this.moveEnemy01(enemy, index);
                }
                if (enemy.type === 2) {
                  this.moveEnemy02(enemy, index);
                }
            }
          });
          this.moveEnemyShot();
        },
        moveEnemy01(enemy, index) {
          enemy.position.x += enemy.direction * enemy.speed;
          if (enemy.position.x < -32 || enemy.position.x > 640) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }

            let ptn = '';
            if (enemy.direction === -1) {
              if (enemy.animePtn === 0) { ptn = 'enemy01LeftACells'; }
              else { ptn = 'enemy01LeftBCells'; }
            }
            else {
              if (enemy.animePtn === 0) { ptn = 'enemy01RightACells'; }
              else { ptn = 'enemy01RightBCells'; }
            }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        moveEnemy02(enemy, index) {
          if (this.isGameOver) return;

          enemy.position.x += enemy.direction * enemy.speed;

          if (Math.random() < this.shotFrequency) {
            this.createEnemyShot(enemy.position.x, enemy.position.y);
          }

          if (enemy.position.x < -32 || enemy.position.x > 640) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }
            let ptn = '';
            if (enemy.animePtn === 0) { ptn = 'enemy02ACells'; }
            else { ptn = 'enemy02BCells'; }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        addEnemy() {
          this.timer++;
          this.timer = this.timer & 15;

          switch (this.stage) {
            case 1:
              if (this.timer === 3) { this.addEnemy01(); }
              if (this.timer === 7) { this.addEnemy02(); }
          }
        },
        addEnemy01() {
          if (this.enemyList.filter(enemy => enemy.type === 1).length < this.maxEnemy01) {
            const possibleYPositions = [48, 80, 144, 176, 240, 272];
            const yPos = possibleYPositions[Math.floor(Math.random() * possibleYPositions.length)];
            const rightToLeftPositions = [48, 144, 240];
            const direction = rightToLeftPositions.includes(yPos) ? -1 : 1;
            const xPos = direction === 1 ? -32 : 640;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 1 + Math.random() * 2,
              direction: direction,
              type: 1,
              animeCount: 0,
              animePtn: 0,
            });
          }
        },
        addEnemy02() {
          if (this.enemyList.filter(enemy => enemy.type === 2).length < this.maxEnemy02) {
            const possibleYPositions = [16, 112, 208];
            const yPos = possibleYPositions[Math.floor(Math.random() * possibleYPositions.length)];
            const direction = Math.random() < 0.5 ? -1 : 1;
            const xPos = direction === 1 ? -32 : 640;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 1 + Math.random() * 2,
              direction: direction,
              type: 2,
              animeCount: 0,
              animePtn: 0,
            });
          }
        },
        createEnemyShot(x, y) {
          this.enemyShotList.push({
            position: { x: x, y: y },
            speed: this.shotSpeed,
            x: 0,
            y: 0
          });
        },
        moveEnemyShot() {
          if (this.isGameOver) return;

          this.enemyShotList.forEach((shot, index) => {
            shot.position.y += shot.speed;
            if (shot.position.y > 400) {
              this.enemyShotList.splice(index, 1);
            }
            else {
              this.spriteList.push(
                {
                  x: shot.position.x,
                  y: shot.position.y,
                  sprite: 'enemyShot'
                }
              );
            }
          });
        },
        reducePlayerLives() {
          this.playerLeft--;
          if (this.playerLeft <= 0) {
            this.gameOver();
          }
        },
        gameOver() {
          this.isGameOver = true;
          alert("ゲームオーバー")
        },
        gameMain() {
          this.spriteList = [];

          this.spriteList.push(
            {
              x: this.playerPosition.x,
              y: this.playerPosition.y,
              sprite: 'player'
            }
          );

          this.addEnemy();
          this.moveEnemy();
          this.movePlayerShots()
        },
      },
      created() {
        this.spriteMap.set('player', this.player);
        this.spriteMap.set('playerShot01', this.playerShot01);
        this.spriteMap.set('playerShot02', this.playerShot02);
        this.spriteMap.set('playerShot03', this.playerShot03);
        this.spriteMap.set('playerShot04', this.playerShot04);

        this.spriteMap.set('enemy01LeftACells', this.enemy01LeftACells);
        this.spriteMap.set('enemy01LeftBCells', this.enemy01LeftBCells);
        this.spriteMap.set('enemy01RightACells', this.enemy01RightACells);
        this.spriteMap.set('enemy01RightBCells', this.enemy01RightBCells);

        this.spriteMap.set('enemy02ACells', this.enemy02ACells);
        this.spriteMap.set('enemy02BCells', this.enemy02BCells);

        this.spriteMap.set('enemyShot', this.enemyShot);

        setInterval(this.gameMain, 25);
      }
    });
  </script>
</body>

</html>