<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>シューティングゲーム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #game-field {
      position: relative;
      width: 640px;
      height: 400px;
      margin: auto;
      background-color: black;
      overflow: hidden;
      cursor: none;
      image-rendering: pixelated;
    }

    #game-text {
      position: absolute;
      top: 8px;
      left: 8px;
      color: white;
      font-size: 16px;
      font-family: monospace;
      z-index: 10;
      pointer-events: none;
    }

    .grid-cell {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    @media (max-width: 768px) {
      #game-field {
        width: min(90vw, calc(90vh * (640 / 400)));
        height: min(calc(90vw * (400 / 640)), 90vh);
        cursor: auto;
      }
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
  <div id="app">
    <div id="game-field" @mousemove="movePlayer" @click="handleClick" @touchstart="handleTouchStart($event)"
      @touchmove.prevent="setTouchPosition($event)" @touchend.prevent="handleTouchEnd($event)">
      <div v-for="sprite in spriteList">
        <div v-for="cell in spriteMap.get(sprite.sprite)" :key="cell.x + '-' + cell.y" class="grid-cell" :style="{
             left: cell.x * gridCellSize + sprite.x * gridCellSize + 'px',
             top:  cell.y * gridCellSize + sprite.y * gridCellSize + 'px',
             backgroundColor: getColor(cell.colorCode),
             width: `${gridCellSize}px`,
             height: `${gridCellSize}px`
           }">
        </div>
      </div>

      <div id="game-text">
        <div v-if="gameStatus === 'title'">
          <p style="font-size:20px;">シューティングゲーム</p>
          <p>クリックでスタート</p>
        </div>

        <div v-if="gameStatus === 'play'">
          <p>スコア: {{ score }}</p>
          <p>残機: {{ playerLeft }}</p>
        </div>

        <div v-if="gameStatus === 'gameover'">
          <p style="color:red; font-size:20px;">GAME OVER</p>
          <p>クリックでリトライ</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        player: [
          { x: 7, y: 0, colorCode: 7 }, { x: 8, y: 0, colorCode: 7 },
          { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 },
          { x: 6, y: 2, colorCode: 5 }, { x: 7, y: 2, colorCode: 2 }, { x: 8, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 5 },
          { x: 0, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 7 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 7 }, { x: 15, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 6 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 7 }, { x: 6, y: 4, colorCode: 7 }, { x: 7, y: 4, colorCode: 2 }, { x: 8, y: 4, colorCode: 2 }, { x: 9, y: 4, colorCode: 7 }, { x: 10, y: 4, colorCode: 7 }, { x: 12, y: 4, colorCode: 4 }, { x: 13, y: 4, colorCode: 4 }, { x: 15, y: 4, colorCode: 6 },
          { x: 0, y: 5, colorCode: 6 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 7 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 7 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 5 }, { x: 13, y: 5, colorCode: 5 }, { x: 15, y: 5, colorCode: 6 },
          { x: 0, y: 6, colorCode: 6 }, { x: 1, y: 6, colorCode: 6 }, { x: 2, y: 6, colorCode: 5 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 0 }, { x: 5, y: 6, colorCode: 0 }, { x: 6, y: 6, colorCode: 7 }, { x: 7, y: 6, colorCode: 7 }, { x: 8, y: 6, colorCode: 7 }, { x: 9, y: 6, colorCode: 7 }, { x: 10, y: 6, colorCode: 0 }, { x: 11, y: 6, colorCode: 0 }, { x: 12, y: 6, colorCode: 5 }, { x: 13, y: 6, colorCode: 5 }, { x: 14, y: 6, colorCode: 6 }, { x: 15, y: 6, colorCode: 6 },
          { x: 0, y: 7, colorCode: 6 }, { x: 2, y: 7, colorCode: 6 }, { x: 3, y: 7, colorCode: 6 }, { x: 5, y: 7, colorCode: 7 }, { x: 6, y: 7, colorCode: 7 }, { x: 9, y: 7, colorCode: 7 }, { x: 10, y: 7, colorCode: 7 }, { x: 12, y: 7, colorCode: 6 }, { x: 13, y: 7, colorCode: 6 }, { x: 15, y: 7, colorCode: 6 }
        ],
        enemy01LeftACells: [
          { x: 1, y: 1, colorCode: 2 }, { x: 2, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 2 }, { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 6, y: 1, colorCode: 2 }, { x: 7, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 0 }, { x: 2, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 0 }, { x: 5, y: 2, colorCode: 0 }, { x: 6, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 },
          { x: 0, y: 3, colorCode: 2 }, { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 7 }, { x: 3, y: 3, colorCode: 7 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 2 }, { x: 1, y: 4, colorCode: 2 }, { x: 2, y: 4, colorCode: 7 }, { x: 3, y: 4, colorCode: 7 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 },
          { x: 0, y: 5, colorCode: 2 }, { x: 1, y: 5, colorCode: 0 }, { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 },
          { x: 1, y: 6, colorCode: 2 }, { x: 2, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 2 }, { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 6, y: 6, colorCode: 2 }, { x: 7, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 },
        ],
        enemy01LeftBCells: [
          { x: 1, y: 1, colorCode: 2 }, { x: 2, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 2 }, { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 6, y: 1, colorCode: 2 }, { x: 7, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 0 }, { x: 2, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 0 }, { x: 5, y: 2, colorCode: 0 }, { x: 6, y: 2, colorCode: 2 }, { x: 11, y: 2, colorCode: 2 }, { x: 12, y: 2, colorCode: 2 },
          { x: 0, y: 3, colorCode: 2 }, { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 7 }, { x: 3, y: 3, colorCode: 7 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 },
          { x: 0, y: 4, colorCode: 2 }, { x: 1, y: 4, colorCode: 2 }, { x: 2, y: 4, colorCode: 7 }, { x: 3, y: 4, colorCode: 7 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 }, { x: 10, y: 4, colorCode: 2 },
          { x: 0, y: 5, colorCode: 2 }, { x: 1, y: 5, colorCode: 0 }, { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 0 }, { x: 5, y: 5, colorCode: 0 }, { x: 6, y: 5, colorCode: 2 }, { x: 11, y: 5, colorCode: 2 }, { x: 12, y: 5, colorCode: 2 },
          { x: 1, y: 6, colorCode: 2 }, { x: 2, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 2 }, { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 6, y: 6, colorCode: 2 }, { x: 7, y: 6, colorCode: 2 },
        ],
        enemy01RightACells: [
          { x: 4, y: 1, colorCode: 2 }, { x: 5, y: 1, colorCode: 2 }, { x: 8, y: 1, colorCode: 2 }, { x: 9, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 }, { x: 12, y: 1, colorCode: 2 }, { x: 13, y: 1, colorCode: 2 }, { x: 14, y: 1, colorCode: 2 },
          { x: 6, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 }, { x: 10, y: 2, colorCode: 0 }, { x: 11, y: 2, colorCode: 0 }, { x: 12, y: 2, colorCode: 2 }, { x: 13, y: 2, colorCode: 2 }, { x: 14, y: 2, colorCode: 0 }, { x: 15, y: 2, colorCode: 2 },
          { x: 10, y: 3, colorCode: 2 }, { x: 11, y: 3, colorCode: 2 }, { x: 12, y: 3, colorCode: 7 }, { x: 13, y: 3, colorCode: 7 }, { x: 14, y: 3, colorCode: 2 }, { x: 15, y: 3, colorCode: 2 },
          { x: 10, y: 4, colorCode: 2 }, { x: 11, y: 4, colorCode: 2 }, { x: 12, y: 4, colorCode: 7 }, { x: 13, y: 4, colorCode: 7 }, { x: 14, y: 4, colorCode: 2 }, { x: 15, y: 4, colorCode: 2 },
          { x: 6, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 2 }, { x: 13, y: 5, colorCode: 2 }, { x: 14, y: 5, colorCode: 0 }, { x: 15, y: 5, colorCode: 2 },
          { x: 4, y: 6, colorCode: 2 }, { x: 5, y: 6, colorCode: 2 }, { x: 8, y: 6, colorCode: 2 }, { x: 9, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 }, { x: 12, y: 6, colorCode: 2 }, { x: 13, y: 6, colorCode: 2 }, { x: 14, y: 6, colorCode: 2 },
        ],
        enemy01RightBCells: [
          { x: 8, y: 1, colorCode: 2 }, { x: 9, y: 1, colorCode: 2 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 }, { x: 12, y: 1, colorCode: 2 }, { x: 13, y: 1, colorCode: 2 }, { x: 14, y: 1, colorCode: 2 },
          { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 2 }, { x: 9, y: 2, colorCode: 2 }, { x: 10, y: 2, colorCode: 0 }, { x: 11, y: 2, colorCode: 0 }, { x: 12, y: 2, colorCode: 2 }, { x: 13, y: 2, colorCode: 2 }, { x: 14, y: 2, colorCode: 0 }, { x: 15, y: 2, colorCode: 2 },
          { x: 5, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 }, { x: 11, y: 3, colorCode: 2 }, { x: 12, y: 3, colorCode: 7 }, { x: 13, y: 3, colorCode: 7 }, { x: 14, y: 3, colorCode: 2 }, { x: 15, y: 3, colorCode: 2 },
          { x: 5, y: 4, colorCode: 2 }, { x: 10, y: 4, colorCode: 2 }, { x: 11, y: 4, colorCode: 2 }, { x: 12, y: 4, colorCode: 7 }, { x: 13, y: 4, colorCode: 7 }, { x: 14, y: 4, colorCode: 2 }, { x: 15, y: 4, colorCode: 2 },
          { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 2 }, { x: 9, y: 5, colorCode: 2 }, { x: 10, y: 5, colorCode: 0 }, { x: 11, y: 5, colorCode: 0 }, { x: 12, y: 5, colorCode: 2 }, { x: 13, y: 5, colorCode: 2 }, { x: 14, y: 5, colorCode: 0 }, { x: 15, y: 5, colorCode: 2 },
          { x: 8, y: 6, colorCode: 2 }, { x: 9, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 }, { x: 12, y: 6, colorCode: 2 }, { x: 13, y: 6, colorCode: 2 }, { x: 14, y: 6, colorCode: 2 },
        ],
        enemy02ACells: [
          { x: 1, y: 1, colorCode: 3 }, { x: 2, y: 1, colorCode: 7 }, { x: 3, y: 1, colorCode: 7 }, { x: 4, y: 1, colorCode: 7 }, { x: 5, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 }, { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 }, { x: 9, y: 1, colorCode: 7 }, { x: 10, y: 1, colorCode: 7 }, { x: 11, y: 1, colorCode: 3 },
          { x: 3, y: 2, colorCode: 7 }, { x: 6, y: 2, colorCode: 7 }, { x: 9, y: 2, colorCode: 7 },
          { x: 1, y: 3, colorCode: 4 }, { x: 2, y: 3, colorCode: 0 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 0 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 0 }, { x: 11, y: 3, colorCode: 4 },
          { x: 0, y: 4, colorCode: 4 }, { x: 1, y: 4, colorCode: 4 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 4, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 }, { x: 6, y: 4, colorCode: 4 }, { x: 7, y: 4, colorCode: 4 }, { x: 8, y: 4, colorCode: 4 }, { x: 9, y: 4, colorCode: 4 }, { x: 10, y: 4, colorCode: 4 }, { x: 11, y: 4, colorCode: 4 }, { x: 12, y: 4, colorCode: 4 },
          { x: 0, y: 5, colorCode: 4 }, { x: 1, y: 5, colorCode: 4 }, { x: 2, y: 5, colorCode: 4 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 }, { x: 6, y: 5, colorCode: 4 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 4 }, { x: 10, y: 5, colorCode: 4 }, { x: 11, y: 5, colorCode: 4 }, { x: 12, y: 5, colorCode: 4 },
          { x: 1, y: 6, colorCode: 6 }, { x: 2, y: 6, colorCode: 6 }, { x: 4, y: 6, colorCode: 6 }, { x: 5, y: 6, colorCode: 6 }, { x: 7, y: 6, colorCode: 6 }, { x: 8, y: 6, colorCode: 6 }, { x: 10, y: 6, colorCode: 6 }, { x: 11, y: 6, colorCode: 6 },
        ],
        enemy02BCells: [
          { x: 3, y: 1, colorCode: 3 }, { x: 4, y: 1, colorCode: 7 }, { x: 5, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 }, { x: 7, y: 1, colorCode: 7 }, { x: 8, y: 1, colorCode: 7 }, { x: 9, y: 1, colorCode: 3 },
          { x: 5, y: 2, colorCode: 7 }, { x: 7, y: 2, colorCode: 7 },
          { x: 1, y: 3, colorCode: 4 }, { x: 2, y: 3, colorCode: 0 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 0 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 0 }, { x: 11, y: 3, colorCode: 4 },
          { x: 0, y: 4, colorCode: 4 }, { x: 1, y: 4, colorCode: 4 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 4, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 }, { x: 6, y: 4, colorCode: 4 }, { x: 7, y: 4, colorCode: 4 }, { x: 8, y: 4, colorCode: 4 }, { x: 9, y: 4, colorCode: 4 }, { x: 10, y: 4, colorCode: 4 }, { x: 11, y: 4, colorCode: 4 }, { x: 12, y: 4, colorCode: 4 },
          { x: 0, y: 5, colorCode: 4 }, { x: 1, y: 5, colorCode: 4 }, { x: 2, y: 5, colorCode: 4 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 }, { x: 6, y: 5, colorCode: 4 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 4 }, { x: 10, y: 5, colorCode: 4 }, { x: 11, y: 5, colorCode: 4 }, { x: 12, y: 5, colorCode: 4 },
          { x: 2, y: 6, colorCode: 6 }, { x: 3, y: 6, colorCode: 6 }, { x: 4, y: 6, colorCode: 6 }, { x: 8, y: 6, colorCode: 6 }, { x: 9, y: 6, colorCode: 6 }, { x: 10, y: 6, colorCode: 6 },
        ],
        enemy03ACells: [
          { x: 2, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 },
          { x: 2, y: 7, colorCode: 1 }, { x: 5, y: 7, colorCode: 1 },
          { x: 3, y: 8, colorCode: 1 }, { x: 4, y: 8, colorCode: 1 },
          { x: 2, y: 9, colorCode: 4 }, { x: 5, y: 9, colorCode: 4 },
          { x: 2, y: 10, colorCode: 1 }, { x: 3, y: 10, colorCode: 4 }, { x: 4, y: 10, colorCode: 4 }, { x: 5, y: 10, colorCode: 1 },
          { x: 1, y: 11, colorCode: 1 }, { x: 2, y: 11, colorCode: 1 }, { x: 3, y: 11, colorCode: 1 }, { x: 4, y: 11, colorCode: 1 }, { x: 5, y: 11, colorCode: 1 }, { x: 6, y: 11, colorCode: 1 },
          { x: 1, y: 12, colorCode: 1 }, { x: 2, y: 12, colorCode: 7 }, { x: 3, y: 12, colorCode: 1 }, { x: 4, y: 12, colorCode: 1 }, { x: 5, y: 12, colorCode: 1 }, { x: 6, y: 12, colorCode: 1 },
          { x: 1, y: 13, colorCode: 1 }, { x: 2, y: 13, colorCode: 1 }, { x: 3, y: 13, colorCode: 5 }, { x: 4, y: 13, colorCode: 5 }, { x: 5, y: 13, colorCode: 1 }, { x: 6, y: 13, colorCode: 1 },
          { x: 1, y: 14, colorCode: 1 }, { x: 2, y: 14, colorCode: 1 }, { x: 3, y: 14, colorCode: 1 }, { x: 4, y: 14, colorCode: 1 }, { x: 5, y: 14, colorCode: 1 }, { x: 6, y: 14, colorCode: 1 },
          { x: 2, y: 15, colorCode: 1 }, { x: 3, y: 15, colorCode: 1 }, { x: 4, y: 15, colorCode: 1 }, { x: 5, y: 15, colorCode: 1 },
        ],
        enemy03BCells: [
          { x: 2, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 },
          { x: 2, y: 6, colorCode: 1 }, { x: 5, y: 6, colorCode: 1 },
          { x: 3, y: 7, colorCode: 1 }, { x: 4, y: 7, colorCode: 1 },
          { x: 2, y: 8, colorCode: 4 }, { x: 5, y: 8, colorCode: 4 },
          { x: 3, y: 9, colorCode: 4 }, { x: 4, y: 9, colorCode: 4 },
          { x: 2, y: 10, colorCode: 1 }, { x: 3, y: 10, colorCode: 1 }, { x: 4, y: 10, colorCode: 1 }, { x: 5, y: 10, colorCode: 1 },
          { x: 1, y: 11, colorCode: 1 }, { x: 2, y: 11, colorCode: 1 }, { x: 3, y: 11, colorCode: 1 }, { x: 4, y: 11, colorCode: 1 }, { x: 5, y: 11, colorCode: 1 }, { x: 6, y: 11, colorCode: 1 },
          { x: 1, y: 12, colorCode: 1 }, { x: 2, y: 12, colorCode: 7 }, { x: 3, y: 12, colorCode: 1 }, { x: 4, y: 12, colorCode: 1 }, { x: 5, y: 12, colorCode: 1 }, { x: 6, y: 12, colorCode: 1 },
          { x: 1, y: 13, colorCode: 1 }, { x: 2, y: 13, colorCode: 1 }, { x: 3, y: 13, colorCode: 5 }, { x: 4, y: 13, colorCode: 5 }, { x: 5, y: 13, colorCode: 1 }, { x: 6, y: 13, colorCode: 1 },
          { x: 1, y: 14, colorCode: 1 }, { x: 2, y: 14, colorCode: 1 }, { x: 3, y: 14, colorCode: 1 }, { x: 4, y: 14, colorCode: 1 }, { x: 5, y: 14, colorCode: 1 }, { x: 6, y: 14, colorCode: 1 },
          { x: 2, y: 15, colorCode: 1 }, { x: 3, y: 15, colorCode: 1 }, { x: 4, y: 15, colorCode: 1 }, { x: 5, y: 15, colorCode: 1 },
        ],
        enemy04ACells: [
          { x: 0, y: 0, colorCode: 2 }, { x: 1, y: 0, colorCode: 2 }, { x: 10, y: 0, colorCode: 2 }, { x: 11, y: 0, colorCode: 2 },
          { x: 0, y: 1, colorCode: 2 }, { x: 1, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 3 }, { x: 4, y: 1, colorCode: 3 }, { x: 7, y: 1, colorCode: 3 }, { x: 8, y: 1, colorCode: 3 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 2 }, { x: 2, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 3 }, { x: 4, y: 2, colorCode: 3 }, { x: 5, y: 2, colorCode: 2 }, { x: 6, y: 2, colorCode: 2 }, { x: 7, y: 2, colorCode: 3 }, { x: 8, y: 2, colorCode: 3 }, { x: 9, y: 2, colorCode: 2 }, { x: 10, y: 2, colorCode: 2 }, { x: 11, y: 2, colorCode: 2 },
          { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 2 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 2 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 },
          { x: 3, y: 4, colorCode: 2 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 }, { x: 6, y: 4, colorCode: 2 }, { x: 7, y: 4, colorCode: 2 }, { x: 8, y: 4, colorCode: 2 },
          { x: 1, y: 5, colorCode: 2 }, { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 2 }, { x: 6, y: 5, colorCode: 2 }, { x: 7, y: 5, colorCode: 4 }, { x: 8, y: 5, colorCode: 4 }, { x: 9, y: 5, colorCode: 2 }, { x: 10, y: 5, colorCode: 2 },
          { x: 0, y: 6, colorCode: 2 }, { x: 1, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 7 }, { x: 4, y: 6, colorCode: 4 }, { x: 7, y: 6, colorCode: 7 }, { x: 8, y: 6, colorCode: 4 }, { x: 10, y: 6, colorCode: 2 }, { x: 11, y: 6, colorCode: 2 },
          { x: 0, y: 7, colorCode: 2 }, { x: 1, y: 7, colorCode: 2 }, { x: 10, y: 7, colorCode: 2 }, { x: 11, y: 7, colorCode: 2 },
        ],
        enemy04BCells: [
          { x: 0, y: 1, colorCode: 2 }, { x: 1, y: 1, colorCode: 2 }, { x: 3, y: 1, colorCode: 3 }, { x: 4, y: 1, colorCode: 3 }, { x: 7, y: 1, colorCode: 3 }, { x: 8, y: 1, colorCode: 3 }, { x: 10, y: 1, colorCode: 2 }, { x: 11, y: 1, colorCode: 2 },
          { x: 0, y: 2, colorCode: 2 }, { x: 1, y: 2, colorCode: 2 }, { x: 3, y: 2, colorCode: 3 }, { x: 4, y: 2, colorCode: 3 }, { x: 5, y: 2, colorCode: 2 }, { x: 6, y: 2, colorCode: 2 }, { x: 7, y: 2, colorCode: 3 }, { x: 8, y: 2, colorCode: 3 }, { x: 10, y: 2, colorCode: 2 }, { x: 11, y: 2, colorCode: 2 },
          { x: 0, y: 3, colorCode: 2 }, { x: 1, y: 3, colorCode: 2 }, { x: 2, y: 3, colorCode: 2 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 }, { x: 6, y: 3, colorCode: 2 }, { x: 7, y: 3, colorCode: 2 }, { x: 8, y: 3, colorCode: 2 }, { x: 9, y: 3, colorCode: 2 }, { x: 10, y: 3, colorCode: 2 }, { x: 11, y: 3, colorCode: 2 },
          { x: 1, y: 4, colorCode: 2 }, { x: 3, y: 4, colorCode: 2 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 }, { x: 6, y: 4, colorCode: 2 }, { x: 7, y: 4, colorCode: 2 }, { x: 8, y: 4, colorCode: 2 }, { x: 10, y: 4, colorCode: 2 },
          { x: 2, y: 5, colorCode: 2 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 2 }, { x: 6, y: 5, colorCode: 2 }, { x: 7, y: 5, colorCode: 5 }, { x: 8, y: 5, colorCode: 5 }, { x: 9, y: 5, colorCode: 2 },
          { x: 1, y: 6, colorCode: 2 }, { x: 2, y: 6, colorCode: 2 }, { x: 3, y: 6, colorCode: 7 }, { x: 4, y: 6, colorCode: 5 }, { x: 7, y: 6, colorCode: 7 }, { x: 8, y: 6, colorCode: 5 }, { x: 9, y: 6, colorCode: 2 }, { x: 10, y: 6, colorCode: 2 },
          { x: 1, y: 7, colorCode: 2 }, { x: 2, y: 7, colorCode: 2 }, { x: 9, y: 7, colorCode: 2 }, { x: 10, y: 7, colorCode: 2 },
        ],
        enemyShot: [
          { x: 3, y: 1, colorCode: 2 },
          { x: 4, y: 2, colorCode: 2 },
          { x: 3, y: 3, colorCode: 2 },
          { x: 4, y: 4, colorCode: 2 },
          { x: 3, y: 5, colorCode: 2 },
          { x: 4, y: 6, colorCode: 2 },
        ],
        playerShot01: [
          { x: 3, y: 1, colorCode: 1 }, { x: 4, y: 1, colorCode: 1 },
          { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 },
          { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 },
          { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 },
          { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 },
          { x: 3, y: 6, colorCode: 1 }, { x: 4, y: 6, colorCode: 1 },
        ],
        playerShot02: [
          { x: 3, y: 1, colorCode: 1 }, { x: 4, y: 1, colorCode: 1 },
          { x: 2, y: 2, colorCode: 1 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 1 },
          { x: 2, y: 3, colorCode: 1 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 1 },
          { x: 2, y: 4, colorCode: 1 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 1 },
          { x: 2, y: 5, colorCode: 1 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 1 },
          { x: 3, y: 6, colorCode: 1 }, { x: 4, y: 6, colorCode: 1 },
        ],
        playerShot03: [
          { x: 2, y: 1, colorCode: 1 }, { x: 3, y: 1, colorCode: 5 }, { x: 4, y: 1, colorCode: 5 }, { x: 5, y: 1, colorCode: 1 },
          { x: 1, y: 2, colorCode: 1 }, { x: 2, y: 2, colorCode: 5 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 5 }, { x: 6, y: 2, colorCode: 1 },
          { x: 1, y: 3, colorCode: 1 }, { x: 2, y: 3, colorCode: 5 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 5 }, { x: 6, y: 3, colorCode: 1 },
          { x: 1, y: 4, colorCode: 1 }, { x: 2, y: 4, colorCode: 5 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 5 }, { x: 6, y: 4, colorCode: 1 },
          { x: 1, y: 5, colorCode: 1 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 5 }, { x: 6, y: 5, colorCode: 1 },
          { x: 2, y: 6, colorCode: 1 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 5 }, { x: 5, y: 6, colorCode: 1 },
        ],
        playerShot04: [
          { x: 2, y: 0, colorCode: 1 }, { x: 3, y: 0, colorCode: 5 }, { x: 4, y: 0, colorCode: 5 }, { x: 5, y: 0, colorCode: 1 },
          { x: 2, y: 1, colorCode: 1 }, { x: 3, y: 1, colorCode: 5 }, { x: 4, y: 1, colorCode: 5 }, { x: 5, y: 1, colorCode: 1 },
          { x: 1, y: 2, colorCode: 1 }, { x: 2, y: 2, colorCode: 5 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 5 }, { x: 6, y: 2, colorCode: 1 },
          { x: 1, y: 3, colorCode: 1 }, { x: 2, y: 3, colorCode: 5 }, { x: 3, y: 3, colorCode: 5 }, { x: 4, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 5 }, { x: 6, y: 3, colorCode: 1 },
          { x: 1, y: 4, colorCode: 1 }, { x: 2, y: 4, colorCode: 5 }, { x: 3, y: 4, colorCode: 5 }, { x: 4, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 5 }, { x: 6, y: 4, colorCode: 1 },
          { x: 1, y: 5, colorCode: 1 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 5 }, { x: 6, y: 5, colorCode: 1 },
          { x: 2, y: 6, colorCode: 1 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 5 }, { x: 5, y: 6, colorCode: 1 },
          { x: 2, y: 7, colorCode: 1 }, { x: 3, y: 7, colorCode: 5 }, { x: 4, y: 7, colorCode: 5 }, { x: 5, y: 7, colorCode: 1 },
        ],
        bang01: [
          { x: 3, y: 3, colorCode: 1 }, { x: 4, y: 3, colorCode: 1 },
          { x: 3, y: 4, colorCode: 1 }, { x: 4, y: 4, colorCode: 1 },
        ],
        bang02: [
          { x: 3, y: 2, colorCode: 2 }, { x: 4, y: 2, colorCode: 2 },
          { x: 2, y: 3, colorCode: 2 }, { x: 3, y: 3, colorCode: 2 }, { x: 4, y: 3, colorCode: 2 }, { x: 5, y: 3, colorCode: 2 },
          { x: 2, y: 4, colorCode: 2 }, { x: 3, y: 4, colorCode: 2 }, { x: 4, y: 4, colorCode: 2 }, { x: 5, y: 4, colorCode: 2 },
          { x: 3, y: 5, colorCode: 2 }, { x: 4, y: 5, colorCode: 2 },
        ],
        bang03: [
          { x: 2, y: 1, colorCode: 3 }, { x: 3, y: 1, colorCode: 3 }, { x: 4, y: 1, colorCode: 3 }, { x: 5, y: 1, colorCode: 3 },
          { x: 1, y: 2, colorCode: 3 }, { x: 2, y: 2, colorCode: 3 }, { x: 3, y: 2, colorCode: 3 }, { x: 4, y: 2, colorCode: 3 }, { x: 5, y: 2, colorCode: 3 }, { x: 6, y: 2, colorCode: 3 },
          { x: 1, y: 3, colorCode: 3 }, { x: 2, y: 3, colorCode: 3 }, { x: 3, y: 3, colorCode: 3 }, { x: 4, y: 3, colorCode: 3 }, { x: 5, y: 3, colorCode: 3 }, { x: 6, y: 3, colorCode: 3 },
          { x: 1, y: 4, colorCode: 3 }, { x: 2, y: 4, colorCode: 3 }, { x: 3, y: 4, colorCode: 3 }, { x: 4, y: 4, colorCode: 3 }, { x: 5, y: 4, colorCode: 3 }, { x: 6, y: 4, colorCode: 3 },
          { x: 1, y: 5, colorCode: 3 }, { x: 2, y: 5, colorCode: 3 }, { x: 3, y: 5, colorCode: 3 }, { x: 4, y: 5, colorCode: 3 }, { x: 5, y: 5, colorCode: 3 }, { x: 6, y: 5, colorCode: 3 },
          { x: 2, y: 6, colorCode: 3 }, { x: 3, y: 6, colorCode: 3 }, { x: 4, y: 6, colorCode: 3 }, { x: 5, y: 6, colorCode: 3 },
        ],
        bang04: [
          { x: 2, y: 0, colorCode: 4 }, { x: 3, y: 0, colorCode: 4 }, { x: 4, y: 0, colorCode: 4 }, { x: 5, y: 0, colorCode: 4 },
          { x: 1, y: 1, colorCode: 4 }, { x: 2, y: 1, colorCode: 4 }, { x: 3, y: 1, colorCode: 4 }, { x: 4, y: 1, colorCode: 4 }, { x: 5, y: 1, colorCode: 4 }, { x: 6, y: 1, colorCode: 4 },
          { x: 0, y: 2, colorCode: 4 }, { x: 1, y: 2, colorCode: 4 }, { x: 2, y: 2, colorCode: 4 }, { x: 3, y: 2, colorCode: 4 }, { x: 4, y: 2, colorCode: 4 }, { x: 5, y: 2, colorCode: 4 }, { x: 6, y: 2, colorCode: 4 }, { x: 7, y: 2, colorCode: 4 },
          { x: 0, y: 3, colorCode: 4 }, { x: 1, y: 3, colorCode: 4 }, { x: 2, y: 3, colorCode: 4 }, { x: 3, y: 3, colorCode: 4 }, { x: 4, y: 3, colorCode: 4 }, { x: 5, y: 3, colorCode: 4 }, { x: 6, y: 3, colorCode: 4 }, { x: 7, y: 3, colorCode: 4 },
          { x: 0, y: 4, colorCode: 4 }, { x: 1, y: 4, colorCode: 4 }, { x: 2, y: 4, colorCode: 4 }, { x: 3, y: 4, colorCode: 4 }, { x: 4, y: 4, colorCode: 4 }, { x: 5, y: 4, colorCode: 4 }, { x: 6, y: 4, colorCode: 4 }, { x: 7, y: 4, colorCode: 4 },
          { x: 0, y: 5, colorCode: 4 }, { x: 1, y: 5, colorCode: 4 }, { x: 2, y: 5, colorCode: 4 }, { x: 3, y: 5, colorCode: 4 }, { x: 4, y: 5, colorCode: 4 }, { x: 5, y: 5, colorCode: 4 }, { x: 6, y: 5, colorCode: 4 }, { x: 7, y: 5, colorCode: 4 },
          { x: 1, y: 6, colorCode: 4 }, { x: 2, y: 6, colorCode: 4 }, { x: 3, y: 6, colorCode: 4 }, { x: 4, y: 6, colorCode: 4 }, { x: 5, y: 6, colorCode: 4 }, { x: 6, y: 6, colorCode: 4 },
          { x: 2, y: 7, colorCode: 4 }, { x: 3, y: 7, colorCode: 4 }, { x: 4, y: 7, colorCode: 4 }, { x: 5, y: 7, colorCode: 4 },
        ],
        bang05: [
          { x: 2, y: 0, colorCode: 5 }, { x: 3, y: 0, colorCode: 5 }, { x: 4, y: 0, colorCode: 5 }, { x: 5, y: 0, colorCode: 5 },
          { x: 1, y: 1, colorCode: 5 }, { x: 2, y: 1, colorCode: 5 }, { x: 3, y: 1, colorCode: 5 }, { x: 4, y: 1, colorCode: 5 }, { x: 5, y: 1, colorCode: 5 }, { x: 6, y: 1, colorCode: 5 },
          { x: 0, y: 2, colorCode: 5 }, { x: 1, y: 2, colorCode: 5 }, { x: 2, y: 2, colorCode: 5 }, { x: 3, y: 2, colorCode: 5 }, { x: 4, y: 2, colorCode: 5 }, { x: 5, y: 2, colorCode: 5 }, { x: 6, y: 2, colorCode: 5 }, { x: 7, y: 2, colorCode: 5 },
          { x: 0, y: 3, colorCode: 5 }, { x: 1, y: 3, colorCode: 5 }, { x: 2, y: 3, colorCode: 5 }, { x: 5, y: 3, colorCode: 5 }, { x: 6, y: 3, colorCode: 5 }, { x: 7, y: 3, colorCode: 5 },
          { x: 0, y: 4, colorCode: 5 }, { x: 1, y: 4, colorCode: 5 }, { x: 2, y: 4, colorCode: 5 }, { x: 5, y: 4, colorCode: 5 }, { x: 6, y: 4, colorCode: 5 }, { x: 7, y: 4, colorCode: 5 },
          { x: 0, y: 5, colorCode: 5 }, { x: 1, y: 5, colorCode: 5 }, { x: 2, y: 5, colorCode: 5 }, { x: 3, y: 5, colorCode: 5 }, { x: 4, y: 5, colorCode: 5 }, { x: 5, y: 5, colorCode: 5 }, { x: 6, y: 5, colorCode: 5 }, { x: 7, y: 5, colorCode: 5 },
          { x: 1, y: 6, colorCode: 5 }, { x: 2, y: 6, colorCode: 5 }, { x: 3, y: 6, colorCode: 5 }, { x: 4, y: 6, colorCode: 5 }, { x: 5, y: 6, colorCode: 5 }, { x: 6, y: 6, colorCode: 5 },
          { x: 2, y: 7, colorCode: 5 }, { x: 3, y: 7, colorCode: 5 }, { x: 4, y: 7, colorCode: 5 }, { x: 5, y: 7, colorCode: 5 },
        ],
        bang06: [
          { x: 2, y: 0, colorCode: 6 }, { x: 3, y: 0, colorCode: 6 }, { x: 4, y: 0, colorCode: 6 }, { x: 5, y: 0, colorCode: 6 },
          { x: 1, y: 1, colorCode: 6 }, { x: 2, y: 1, colorCode: 6 }, { x: 3, y: 1, colorCode: 6 }, { x: 4, y: 1, colorCode: 6 }, { x: 5, y: 1, colorCode: 6 }, { x: 6, y: 1, colorCode: 6 },
          { x: 0, y: 2, colorCode: 6 }, { x: 1, y: 2, colorCode: 6 }, { x: 2, y: 2, colorCode: 6 }, { x: 5, y: 2, colorCode: 6 }, { x: 6, y: 2, colorCode: 6 }, { x: 7, y: 2, colorCode: 6 },
          { x: 0, y: 3, colorCode: 6 }, { x: 1, y: 3, colorCode: 6 }, { x: 6, y: 3, colorCode: 6 }, { x: 7, y: 3, colorCode: 6 },
          { x: 0, y: 4, colorCode: 6 }, { x: 1, y: 4, colorCode: 6 }, { x: 6, y: 4, colorCode: 6 }, { x: 7, y: 4, colorCode: 6 },
          { x: 0, y: 5, colorCode: 6 }, { x: 1, y: 5, colorCode: 6 }, { x: 2, y: 5, colorCode: 6 }, { x: 5, y: 5, colorCode: 6 }, { x: 6, y: 5, colorCode: 6 }, { x: 7, y: 5, colorCode: 6 },
          { x: 1, y: 6, colorCode: 6 }, { x: 2, y: 6, colorCode: 6 }, { x: 3, y: 6, colorCode: 6 }, { x: 4, y: 6, colorCode: 6 }, { x: 5, y: 6, colorCode: 6 }, { x: 6, y: 6, colorCode: 6 },
          { x: 2, y: 7, colorCode: 6 }, { x: 3, y: 7, colorCode: 6 }, { x: 4, y: 7, colorCode: 6 }, { x: 5, y: 7, colorCode: 6 },
        ],
        bang07: [
          { x: 2, y: 0, colorCode: 7 }, { x: 3, y: 0, colorCode: 7 }, { x: 4, y: 0, colorCode: 7 }, { x: 5, y: 0, colorCode: 7 },
          { x: 1, y: 1, colorCode: 7 }, { x: 2, y: 1, colorCode: 7 }, { x: 5, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 },
          { x: 0, y: 2, colorCode: 7 }, { x: 1, y: 2, colorCode: 7 }, { x: 6, y: 2, colorCode: 7 }, { x: 7, y: 2, colorCode: 7 },
          { x: 0, y: 3, colorCode: 7 }, { x: 7, y: 3, colorCode: 7 },
          { x: 0, y: 4, colorCode: 7 }, { x: 7, y: 4, colorCode: 7 },
          { x: 0, y: 5, colorCode: 7 }, { x: 1, y: 5, colorCode: 7 }, { x: 6, y: 5, colorCode: 7 }, { x: 7, y: 5, colorCode: 7 },
          { x: 1, y: 6, colorCode: 7 }, { x: 2, y: 6, colorCode: 7 }, { x: 5, y: 6, colorCode: 7 }, { x: 6, y: 6, colorCode: 7 },
          { x: 2, y: 7, colorCode: 7 }, { x: 3, y: 7, colorCode: 7 }, { x: 4, y: 7, colorCode: 7 }, { x: 5, y: 7, colorCode: 7 },
        ],
        bang08: [
          { x: 2, y: 0, colorCode: 7 }, { x: 5, y: 0, colorCode: 7 },
          { x: 1, y: 1, colorCode: 7 }, { x: 6, y: 1, colorCode: 7 },
          { x: 0, y: 2, colorCode: 7 }, { x: 7, y: 2, colorCode: 7 },
          { x: 0, y: 5, colorCode: 7 }, { x: 7, y: 5, colorCode: 7 },
          { x: 1, y: 6, colorCode: 7 }, { x: 6, y: 6, colorCode: 7 },
          { x: 2, y: 7, colorCode: 7 }, { x: 5, y: 7, colorCode: 7 },
        ],
        star: [
          { x: 0, y: 0, colorCode: 7 },
        ],
        spriteMap: new Map(),
        spriteList: [],
        playerPosition: {
          x: 0,
          y: 90
        },

        maxEnemy01: 8,
        maxEnemy02: 6,
        maxEnemy03: 5,
        maxEnemy04: 3,

        shotSpeed: 1,
        shotFrequency: 0.01,
        shotQueue: [],

        enemyList: [],
        enemyShotList: [],
        playerShotList: [],

        score: 0,
        playerLeft: 3,

        stage: 1,
        timer: 0,

        gridCellSize: 4,

        currentWidth: 0,
        currentHeight: 0,

        invincibleTimer: 0,
        isPlayerVisible: true,

        attackAngles: [8, -8, 16, -16, 24, -24, 32, -32, 4, -4],
        attackAngleIndex: 0,

        stage: 1,

        enemy02Count: 0,
        enemy02MaxCount: 20,

        enemy04Count: 0,
        enemy04MaxCount: 20,

        playerMoveX: 0,

        touchStartX: 0,
        touchStartY: 0,
        touchStartTime: 0,
        playerStartX: 0,

        stars: [],

        gameStatus: "title",
      },
      methods: {
        handleTouchStart(e) {
          const t = e.touches[0];
          this.touchStartX = t.clientX;
          this.touchStartY = t.clientY;
          this.playerStartX = this.playerPosition.x;
          this.touchStartTime = Date.now();
        },
        setTouchPosition(e) {
          const t = e.touches[0];
          const dx = t.clientX - this.touchStartX;
          const gx = Math.round(dx / this.gridCellSize);

          this.playerPosition.x = this.playerStartX + gx;

          if (this.playerPosition.x < 0) {
            this.playerPosition.x = 0;
          }
          if (this.playerPosition.x > 144) {
            this.playerPosition.x = 144;
          }
        },
        handleTouchEnd(e) {
          const t = e.changedTouches[0];
          const dt = Date.now() - this.touchStartTime;
          const dx = Math.abs(t.clientX - this.touchStartX);
          const dy = Math.abs(t.clientY - this.touchStartY);

          if (dt < 300 && dx < 10 && dy < 10) {
            this.handleClick();
          }
        },
        isColliding(rectA, rectB) {
          return !(
            rectA.left + rectA.width < rectB.left ||
            rectA.left > rectB.left + rectB.width ||
            rectA.top + rectA.height < rectB.top ||
            rectA.top > rectB.top + rectB.height
          );
        },
        getBoundingBox(entity) {
          return {
            left: entity.position.x + (entity.rect?.left || 0),
            top: entity.position.y + (entity.rect?.top || 0),
            width: entity.rect?.width || 8,
            height: entity.rect?.height || 8
          };
        },
        createBang(xPos, yPos) {
          this.enemyList.push({
            position: { x: xPos, y: yPos },
            speed: Math.random() * 1,
            direction: Math.random() * 180 + 180,
            type: 99,
            animeCount: 0,
            animePtn: 0,
            hitCheck: false,
          });
        },
        createMiniBang(xPos, yPos) {
          this.enemyList.push({
            position: { x: xPos, y: yPos },
            speed: Math.random() * 0.5,
            direction: Math.random() * 180 + 90,
            type: 99,
            animeCount: 0,
            animePtn: 0,
            hitCheck: false,
          });
        },
        moveBang(enemy, index) {
          enemy.position.x = enemy.position.x + (Math.cos(enemy.direction * Math.PI / 180) * enemy.speed);
          enemy.position.y = enemy.position.y + (Math.sin(enemy.direction * Math.PI / 180) * enemy.speed);

          enemy.animeCount++;
          enemy.animeCount &= 1;
          if (enemy.animeCount === 0) {
            enemy.animePtn++;
          }
          if (enemy.animePtn === 8) {
            this.enemyList.splice(index, 1);
          } else {
            let spritePtnList = [
              'bang01', 'bang02', 'bang03', 'bang04', 'bang05', 'bang06', 'bang07', 'bang08',
            ];
            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: spritePtnList[enemy.animePtn]
              }
            );
          }
        },
        moveMiniBang(enemy, index) {
          enemy.position.x = enemy.position.x + (Math.cos(enemy.direction * Math.PI / 180) * enemy.speed);
          enemy.position.y = enemy.position.y + (Math.sin(enemy.direction * Math.PI / 180) * enemy.speed);

          enemy.animeCount++;
          enemy.animeCount &= 1;
          if (enemy.animeCount === 0) {
            enemy.animePtn++;
          }
          if (enemy.animePtn === 4) {
            this.enemyList.splice(index, 1);
          } else {
            let spritePtnList = [
              'bang01', 'bang02', 'bang03', 'bang04', 'bang05', 'bang06', 'bang07', 'bang08',
            ];
            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: spritePtnList[enemy.animePtn]
              }
            );
          }
        },
        getColor(colorCode) {
          switch (colorCode) {
            case 0: return "black";
            case 1: return "blue";
            case 2: return "red";
            case 3: return "purple";
            case 4: return "lime";
            case 5: return "aqua";
            case 6: return "yellow";
            case 7: return "white";
            default: return "black";
          }
        },
        movePlayer(e) {
          const playerPrevX = this.playerPosition.x;

          const fieldRect = e.currentTarget.getBoundingClientRect();
          this.playerPosition.x = (e.clientX - fieldRect.left) / 4 - 16;
          if (this.playerPosition.x < 0) { this.playerPosition.x = 0; }

          this.playerMoveX = this.playerPosition.x - playerPrevX;
        },
        createPlayerShot() {
          const shotPosition = {
            x: this.playerPosition.x + 4,
            y: this.playerPosition.y - 8
          };

          this.playerShotList.push({
            position: shotPosition,
            animePtn: 0,
            animeCount: 0,
            speed: 2,
            rect: {
              left: 4,
              top: 2,
              height: 2,
              width: 2
            }
          });
        },
        movePlayerShots() {
          this.playerShotList.forEach((shot, index) => {
            shot.position.y -= shot.speed;
            if (shot.position.y < -8) {
              this.playerShotList.splice(index, 1);
            }
            else {
              if (shot.animePtn !== 3) {
                shot.animeCount++;
                shot.animeCount &= 7;
                if (shot.animeCount === 0) {
                  shot.animePtn++;
                }
              }

              let spritePtnList = ['playerShot04', 'playerShot03', 'playerShot02', 'playerShot01'];
              this.spriteList.push(
                {
                  x: shot.position.x,
                  y: shot.position.y,
                  sprite: spritePtnList[shot.animePtn]
                }
              );
            }
          });
        },
        moveEnemy() {
          this.enemyList.forEach((enemy, index) => {
            if (enemy.type === 1) { this.moveEnemy01(enemy, index); }
            if (enemy.type === 2) { this.moveEnemy02(enemy, index); }
            if (enemy.type === 3) { this.moveEnemy03(enemy, index); }
            if (enemy.type === 4) { this.moveEnemy04(enemy, index); }
            if (enemy.type === 98) { this.moveMiniBang(enemy, index); }
            if (enemy.type === 99) { this.moveBang(enemy, index); }
          });
          this.moveEnemyShot();
        },
        moveEnemy01(enemy, index) {
          enemy.position.x += enemy.direction * enemy.speed;
          if (enemy.position.x < -16 || enemy.position.x > 160) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }

            let ptn = '';
            if (enemy.direction === -1) {
              if (enemy.animePtn === 0) { ptn = 'enemy01LeftACells'; }
              else { ptn = 'enemy01LeftBCells'; }
            }
            else {
              if (enemy.animePtn === 0) { ptn = 'enemy01RightACells'; }
              else { ptn = 'enemy01RightBCells'; }
            }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        moveEnemy02(enemy, index) {
          enemy.position.x += enemy.direction * enemy.speed;

          if (Math.random() < this.shotFrequency) {
            this.createEnemyShot(enemy);
          }

          if (enemy.position.x < -32 || enemy.position.x > 160) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }
            let ptn = '';
            if (enemy.animePtn === 0) { ptn = 'enemy02ACells'; }
            else { ptn = 'enemy02BCells'; }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        moveEnemy03(enemy, index) {
          enemy.position.y += enemy.direction * enemy.speed;
          if (enemy.position.y > 100) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }

            let ptn = '';
            if (enemy.animePtn === 0) { ptn = 'enemy03ACells'; }
            else { ptn = 'enemy03BCells'; }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        moveEnemy04(enemy, index) {
          enemy.position.y += enemy.direction * enemy.speed;
          enemy.frameCount++;

          const amplitude = 30;
          const omega = 2 * Math.PI / enemy.period;
          enemy.position.x = enemy.baseX + amplitude * Math.sin(omega * enemy.frameCount);

          if (enemy.position.y > 100) {
            this.enemyList.splice(index, 1);
          }
          else {
            enemy.animeCount++;
            enemy.animeCount &= 7;

            if (enemy.animeCount === 0) {
              enemy.animePtn++;
              enemy.animePtn &= 1;
            }

            let ptn = '';
            if (enemy.animePtn === 0) { ptn = 'enemy04ACells'; }
            else { ptn = 'enemy04BCells'; }

            this.spriteList.push(
              {
                x: enemy.position.x,
                y: enemy.position.y,
                sprite: ptn
              }
            );
          }
        },
        createEnemy() {
          this.timer++;
          this.timer = this.timer & 15;

          switch (this.stage) {
            case 1:
              if (this.enemy02Count < this.enemy02MaxCount) {
                if ((this.timer & 3) === 0) { this.createEnemy01(); }
                if ((this.timer & 7) === 0) { this.createEnemy02(); }
              }
              else {
                if (this.enemyList.filter(e => e.type === 1 || e.type === 2).length === 0) {
                  this.stage = 2;
                }
              }
              break;
            case 2:
              if (this.enemy04Count < this.enemy04MaxCount) {
                if ((this.timer & 1) === 0) { this.createEnemy03(); }
                if ((this.timer & 3) === 0) { this.createEnemy04(); }
              }
              break;
          }
        },
        createEnemy01() {
          if (this.enemyList.filter(enemy => enemy.type === 1).length < this.maxEnemy01) {
            const possibleYPositions = [12, 20, 36, 44, 60, 68];
            const yPos = possibleYPositions[Math.floor(Math.random() * possibleYPositions.length)];
            const rightToLeftPositions = [12, 36, 60];
            const direction = rightToLeftPositions.includes(yPos) ? -1 : 1;
            const xPos = direction === 1 ? -16 : 160;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 0.5 + Math.random(),
              direction: direction,
              type: 1,
              animeCount: 0,
              animePtn: 0,
              power: -1,
              hitCheck: true,
              rect: {
                left: 2,
                top: 0,
                height: 4,
                width: 12
              },
              score: 0
            });
          }
        },
        createEnemy02() {
          if (this.enemyList.filter(enemy => enemy.type === 2).length < this.maxEnemy02) {
            const possibleYPositions = [4, 28, 52];
            const yPos = possibleYPositions[Math.floor(Math.random() * possibleYPositions.length)];
            const direction = Math.random() < 0.5 ? -1 : 1;
            const xPos = direction === 1 ? -32 : 160;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 0.25 + Math.random(),
              direction: direction,
              type: 2,
              animeCount: 0,
              animePtn: 0,
              hitCheck: true,
              power: 2,
              rect: {
                left: 4,
                top: 0,
                height: 8,
                width: 12
              },
              score: 50
            });
            this.enemy02Count++;
          }
        },
        createEnemy03() {
          if (this.enemyList.filter(enemy => enemy.type === 3).length < this.maxEnemy03) {
            const xPos = Math.floor(Math.random() * 19) * 8 + 2;
            const yPos = -16;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 2 + Math.random(),
              direction: 1,
              type: 3,
              animeCount: 0,
              animePtn: 0,
              power: -1,
              hitCheck: true,
              rect: {
                left: 2,
                top: 6,
                height: 10,
                width: 6
              },
              score: 0
            });
          }
        },
        createEnemy04() {
          if (this.enemyList.filter(enemy => enemy.type === 4).length < this.maxEnemy04) {
            const xPos = Math.floor(Math.random() * 10) * 16 + 4;
            const yPos = -16;

            this.enemyList.push({
              position: { x: xPos, y: yPos },
              speed: 0.1 + Math.random(),
              direction: 1,
              type: 4,
              animeCount: 0,
              animePtn: 0,
              power: 2,
              hitCheck: true,
              rect: {
                left: 0,
                top: 0,
                height: 8,
                width: 12
              },
              score: 100,
              baseX: xPos,
              frameCount: 0,
              power: 3,
              period: Math.floor(Math.random() * 3) * 10 + 40,
            });
          }
        },
        createEnemyShot(enemy) {
          const baseAngle = 90 * Math.PI / 180;

          const offsetDeg = this.attackAngles[this.attackAngleIndex];
          this.attackAngleIndex = (this.attackAngleIndex + 1) % this.attackAngles.length;

          const angle = baseAngle + offsetDeg * Math.PI / 180;

          const speed = 1;
          const vx = Math.cos(angle) * speed;
          const vy = Math.sin(angle) * speed;

          this.enemyShotList.push({
            position: { x: enemy.position.x, y: enemy.position.y },
            vx: vx,
            vy: vy,
            rect: {
              left: 4,
              top: 2,
              height: 2,
              width: 2
            },
          });
        },
        moveEnemyShot() {
          for (let i = this.enemyShotList.length - 1; i >= 0; i--) {
            const shot = this.enemyShotList[i];
            shot.position.x += shot.vx;
            shot.position.y += shot.vy;

            this.spriteList.push({
              x: shot.position.x,
              y: shot.position.y,
              sprite: 'enemyShot'
            });

            if (shot.x > 160 || shot.y > 100) {
              this.enemyShotList.splice(i, 1);
            }
          }
        },
        handleClick() {
          if (this.gameStatus === "title") {
            this.startGame();
          } else if (this.gameStatus === "gameover") {
            this.startGame();
          } else if (this.gameStatus === "play") {
            if (this.shotQueue.length > 0) return;
            for (let i = 0; i < 3; i++) {
              this.shotQueue.push({
                delay: i * 8
              });
            }
          }
        },
        startGame() {
          this.score = 0;
          this.playerLeft = 3;
          this.enemyList = [];
          this.enemyShotList = [];
          this.playerShotList = [];
          this.gameStatus = "play";
          this.invincibleTimer = 0;
          this.isPlayerVisible = true;
          this.attackAngleIndex = 0;
          this.enemy02Count = 0;
          this.enemy02MaxCount = 5;
          this.stage = 1;
          this.enemy04Count = 0;
          this.enemy04MaxCount = 5;

          this.stars = [];
          for (let i = 0; i < 30; i++) {
            this.stars.push({
              x: Math.random() * 160,
              y: Math.random() * 80,
              speed: Math.random()
            });
          }
        },
        reducePlayerLives() {
          this.playerLeft--;
          if (this.playerLeft <= 0) {
            this.gameOver();
          }
        },
        gameOver() {
          this.gameStatus = "gameover";
        },
        gameMain() {
          this.spriteList = [];

          if (this.gameStatus === "play") {
            this.stars.forEach(star => {
              this.spriteList.push({
                x: star.x,
                y: star.y,
                sprite: 'star'
              });
            });
            this.updateStars();
            if (this.invincibleTimer > 0) {
              this.invincibleTimer--;
              this.isPlayerVisible = (this.invincibleTimer % 4 < 2);
            } else {
              this.isPlayerVisible = true;
            }

            if (this.isPlayerVisible) {
              this.spriteList.push({
                x: this.playerPosition.x,
                y: this.playerPosition.y,
                sprite: 'player'
              });
            }

            for (let i = this.shotQueue.length - 1; i >= 0; i--) {
              if (this.shotQueue[i].delay <= 0) {
                this.createPlayerShot();
                this.shotQueue.splice(i, 1);
              } else {
                this.shotQueue[i].delay--;
              }
            }
            this.createEnemy();
            this.moveEnemy();
            this.movePlayerShots();
            this.checkPlayerHit();
            this.checkCollisions();
          }
        },
        checkPlayerHit() {
          if (this.invincibleTimer > 0) return;

          const playerBox = this.getBoundingBox({
            position: this.playerPosition,
            rect: { left: 0, top: 0, width: 16, height: 8 }
          });

          this.enemyShotList.forEach((shot, index) => {
            const shotBox = this.getBoundingBox(shot);
            if (this.isColliding(playerBox, shotBox)) {
              this.enemyShotList.splice(index, 1);
              for (let i = 0; i < 4; i++) {
                this.createBang(this.playerPosition.x + 6, this.playerPosition.y);
              }
              this.reducePlayerLives();
              this.invincibleTimer = 100;
              this.isPlayerVisible = true;
            }
          });

          this.enemyList.forEach((enemy, index) => {
            if (enemy.hitCheck) {
              const enemyBox = this.getBoundingBox(enemy);
              if (this.isColliding(playerBox, enemyBox)) {
                this.enemyList.splice(index, 1);
                for (let i = 0; i < 4; i++) {
                  this.createBang(this.playerPosition.x + 6, this.playerPosition.y);
                }
                this.reducePlayerLives();
                this.invincibleTimer = 100;
                this.isPlayerVisible = true;
              }
            }
          });
        },
        checkCollisions() {
          this.playerShotList.forEach((shot, shotIndex) => {
            const shotBox = this.getBoundingBox(shot);

            this.enemyList.forEach((enemy, enemyIndex) => {
              if (!enemy.hitCheck) return;

              const enemyBox = this.getBoundingBox(enemy);
              if (this.isColliding(shotBox, enemyBox)) {
                this.createMiniBang(enemy.position.x, enemy.position.y);
                this.playerShotList.splice(shotIndex, 1);
                enemy.power--;
                if (enemy.power === 0) {
                  for (let i = 0; i < 3; i++) {
                    this.createBang(enemy.position.x, enemy.position.y);
                  }
                  this.score += enemy.score;
                  this.enemyList.splice(enemyIndex, 1);
                }
              }
            });
          });
        },
        setGridCellSize() {
          const gameField = document.getElementById('game-field');
          const gameFieldRect = gameField.getBoundingClientRect();
          const baseWidth = 640;
          this.currentWidth = gameFieldRect.width;
          this.currentHeight = gameFieldRect.height;

          this.gridCellSize = (this.currentWidth / baseWidth) * 4;
          this.gridCellSize = Math.round(this.gridCellSize);
        },
        updateStars() {
          if (this.stage === 1) {
            this.stars.forEach(star => {
              star.x -= this.playerMoveX * star.speed;
              if (star.x < 0) star.x += 160;
              if (star.x > 160) star.x -= 160;
            });
            this.playerMoveX = 0;
          } else if (this.stage === 2) {
            this.stars.forEach(star => {
              star.y += 1 * star.speed;
              if (star.y > 100) {
                star.y = 0;
                star.x = Math.random() * 160;
              }
            });
          }
        },
      },
      created() {
        this.spriteMap.set('player', this.player);
        this.spriteMap.set('playerShot01', this.playerShot01);
        this.spriteMap.set('playerShot02', this.playerShot02);
        this.spriteMap.set('playerShot03', this.playerShot03);
        this.spriteMap.set('playerShot04', this.playerShot04);
        this.spriteMap.set('enemy01LeftACells', this.enemy01LeftACells);
        this.spriteMap.set('enemy01LeftBCells', this.enemy01LeftBCells);
        this.spriteMap.set('enemy01RightACells', this.enemy01RightACells);
        this.spriteMap.set('enemy01RightBCells', this.enemy01RightBCells);
        this.spriteMap.set('enemy02ACells', this.enemy02ACells);
        this.spriteMap.set('enemy02BCells', this.enemy02BCells);
        this.spriteMap.set('enemy03ACells', this.enemy03ACells);
        this.spriteMap.set('enemy03BCells', this.enemy03BCells);
        this.spriteMap.set('enemy04ACells', this.enemy04ACells);
        this.spriteMap.set('enemy04BCells', this.enemy04BCells);
        this.spriteMap.set('enemyShot', this.enemyShot);
        this.spriteMap.set('bang01', this.bang01);
        this.spriteMap.set('bang02', this.bang02);
        this.spriteMap.set('bang03', this.bang03);
        this.spriteMap.set('bang04', this.bang04);
        this.spriteMap.set('bang05', this.bang05);
        this.spriteMap.set('bang06', this.bang06);
        this.spriteMap.set('bang07', this.bang07);
        this.spriteMap.set('bang08', this.bang08);
        this.spriteMap.set('star', this.star);

        window.addEventListener('resize', this.setGridCellSize);
        this.setGridCellSize();

        setInterval(this.gameMain, 25);
      },
    });
  </script>
</body>

</html>